*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #011165;
}
.container-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:transparent;
    padding: 35px 230px;
}
.navigations{
    display: flex;
}
nav{
    margin-right: 45px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.edge{
    display: flex;
    align-items: center;
}
.edge img{
    padding: 10px;
}
.edge button{
    color: white;
    border-radius: 7px;
    padding: 15px;
    font-weight: 600;
    background-color: #f4694b;
    border: 2px solid #f4694b;
}
.edge button:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
}
.icon{
    margin-right: 20px;
}

.hero{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 680px;
}
.hero-first h1{
    color: white;
    width: 600px;
    font-size: 62px;
    line-height: 72px;
}
.hero-first p{
    font-size: 20px;
    color: #cfd7ff;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 650px;
}
.hero-first h4{
    margin-top: 17px;
    color: white;
}
.hero-arrow img{
    margin-left: 140px;
    margin-top: 50px;
}
.hero-form{
    height: 500px;
    width: 410px;
    background-color: white;
    color: #011165;
    border-radius: 10px;
    text-align: center; 
}
.hero-form h2{
    margin-top: 40px;
    margin-bottom: 25px;
}
input{
    width: 320px;
    height: 60px;
    border-radius: 7px;
    margin-bottom: 25px;
    background-color: #f2f2ff;
    border: none;
    padding: 20px;
    color: #111111;
}
.hero-form button{
    color: white;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    background-color: #f4694b;
    border: 2px solid #f4694b;
}
.hero-form button:hover{
    background-color: #011165;
    border: 2px solid #011165;
}
.well{
    margin-top: 20px;
    text-align: center;
    padding: 0 25px;
 }
 .ontop-form{
    margin-top: -60px;
 }
 .hero-cone img{
    position: absolute;
    bottom: 0;
    right: 350px;
    z-index: -1;
 }
 .cone2{
    position: absolute;
    bottom: 0;
    right: 240px;
 }