 body{
    background-color: blue;
    height: 90vh;
    width: 100%;
 }
 .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 button{
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: rgba(255, 0, 0, 0.963);
    font-size: 16px;
    text-align: center;
 }
 h1{
    color: white;
    font-size: 35px;
    font-weight: 600;
 }